* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #555;
}
.flags {
  padding: 80px 0;
}
#container {
  max-width: 85%;
  margin: 0 auto;
}
.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
.dark {
  background-color: #262c35;
}

#btn {
  background-color: #262c35;
  color: #fff;
  padding: 10px 10px;
  border-radius: 50%;
}
#flex-container {
  display: flex;
  flex-wrap: wrap;
}
.dark-theme {
  background-color: #222;
}
.dark-theme h1 {
  color: #fff;
}
.dark-theme #btn {
  background-color: #fff;
  color: #222;
}
.country {
  width: 30%;
  box-shadow: 0 24px 48px rgb(0 0 0 / 8%);
  border-radius: 8px;
  padding: 30px 40px;
  margin-bottom: 70px;
  margin-left: 2%;
  background-color: #fff;
}

.flag {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
  margin-top: -80px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
}
.country-name {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px;
}
.detail-list {
  list-style: none;
  margin-top: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}
.new {
  word-wrap: break-word;
}
@media screen and (max-width: 1000px) {
  .country {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .country {
    width: 100%;
  }
  h1 {
    font-size: 18px;
  }
}
